{% extends 'main.html' %} {% block title %}
<title>AV7BLOG-HOME</title>
{% endblock title %} {% block body %}
<h2 class="text-center">AV7BLOG-HOME</h1>
    <!-- <h4 class="text-center">Welcome to AV7BLOG!!</h2> -->
    <style>
        h1 {
            background: linear-gradient(35deg, lightgreen, green);
        }
        
        a {
            color: white
        }
        
        a:hover {
            color: white;
        }
    </style>
    <br><br> {% if current_user.is_authenticated%}
    <h1 class='text-center'>Welcome Back {{current_user.username}}</h1>
    {%for blog in data%}
    <h2>{{blog.title}}</h2>
    <h3>{{blog.post}}</h3>
    <h5>{{blog.post_date}}</h5>
    {%endfor%} {% else %}
    <h3 class='text-center'><a href="/login">Login to your account</a> or <a href="/register">make a new one</a></h3>
    {%endif%} {% endblock body%}